<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - OnePage Bootstrap Template</title>
  {% load static %}
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/purecounterjs/dist/purecounter.js"></script>
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  





  

  <!-- Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="{% url 'consultorio' %}" class="logo d-flex align-items-center me-auto">
        <h1 class="sitename">SEO</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'consultorio' %}#hero" class="active">Home<br></a></li>
          <li><a href="{% url 'consultorio' %}#about">About</a></li>
          <li><a href="{% url 'consultorio' %}#services">Services</a></li>
          <li><a href="{% url 'consultorio' %}#portfolio">Portfolio</a></li>
          <li><a href="{% url 'consultorio' %}#team">Team</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
          <li><a href="{% url 'consultorio' %}#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="#about">Get Started</a>
    </div>
  </header>
  
  
<!--blog -->
<section id="team" class="team section">

  <div class="container section-title" data-aos="fade-up">
    <h2>Blog</h2>
    <p>Explora nuestros últimos artículos</p>
  </div>
  <div class="container">
    <div class="row gy-5">

      {% for blog in blogs %}
      <div id="blog-{{ blog.id }}" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
        <div class="team-member">
          <div class="member-img">
            <img src="{{ blog.image.url }}" class="img-fluid" alt="{{ blog.title }}">
            <div class="social">
              <a href="{{ blog.url }}" class="btn btn-primary"><i class="bi bi-search"></i></a> 
            </div>
          </div>
          <div class="member-info">
            <h3 class="blog-title"><a href="{{ blog.url }}">{{ blog.title }}</a></h3>
            <p class="blog-description">
              <a href="{{ blog.url }}">{{ blog.summary }}</a> <!-- Enlace al resumen -->
            </p>
            <hr>
            <h7>Autor <strong>{{ blog.autor }}</strong></h7>
            <i class="fas fa-check-circle" style="color: #00b300;"></i>
            {% if user.is_authenticated %} 
            <a href="{% url 'edit_blog' blog.id %}" style="float: right;">Editar</a>

            <!-- Botón de Eliminar con alerta de confirmación de JavaScript -->
            <button class="btn btn-danger btn-sm" onclick="deleteBlog('{{ blog.id }}');" style="float: right; margin-right: 10px;">
              Eliminar
            </button>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}

      {% if blogs|length == 0 %}
      <div class="col-12">
        <div class="alert alert-warning" role="alert">
          No hay blogs disponibles.
        </div>
      </div>
      {% endif %}

    </div>
  </div>

</section>



  <footer id="footer" class="footer">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="{% url 'consultorio' %}" class="logo d-flex align-items-center">
            <span class="sitename">SEO</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
        </div>
      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">OnePage</strong> <span>All Rights Reserved</span></p>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

  <!-- Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

  <script>
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  
    function deleteBlog(blogId) {
    if (confirm("¿Estás seguro de que deseas eliminar este blog?")) {
      fetch(`/blog/delete/${blogId}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
          "X-Requested-With": "XMLHttpRequest"
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          let blogElement = document.getElementById(`blog-${blogId}`);
          if (blogElement) {
            blogElement.remove();  // Eliminar el elemento solo si existe
          } else {
            console.error(`Error: No se encontró el elemento blog-${blogId} en el DOM.`);
          }
        } else {
          alert("Error al intentar eliminar el blog.");
        }
      })
      .catch(error => {
        console.error("Error:", error);
        alert("Error al intentar eliminar el blog.");
      });
    }
  }
  </script>

  </body>
</html>

